.progress-bar {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.progress-bar > * {
	padding: 1rem 0;
	border-top: 4px solid #d0cccc;
	color: #d0cccc;
	font-weight: bold;
	flex: 1;
}

.active {
	color: #f0c040;
	border-top-color: #f0c040;
}

@media (max-width: 450px) {
	.progress-bar > * {
		font-size: 1.2rem;
	}
}
